[submodule "dory_examples"]
	path = dory_examples
	url = https://github.com/pulp-platform/dory_examples
[submodule "Hardware-targets/Diana/Backend_Kernels/dory-hal"]
	path = Hardware-targets/Diana/Backend_Kernels/dory-hal
	url = git@github.com:ABurrello/dory-hal.git
